@import "../../sass/colors/colors.scss";
.main {
    grid-column: 3/-1;
    grid-row: 2 / -1;
    display: flex;
    background-color: $light-blue-grey;
    gap: 2rem;
    padding: 2.5rem;
}

.board-column {
    width: 28rem;
    p {
        margin-bottom: 2rem;
    }

    .task {
        background-color: white;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        margin-bottom: 2rem;
        h4 {
            margin-bottom: 1rem;
        }
        p {
            color: $grey-blue-dk;
            font-size: 1.4rem;
        }

    }
}