@import "../../sass/colors/colors.scss";

.form {
    padding: 4rem;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 48rem;
    height: auto;
    .board-columns {
        display: flex;
        justify-content: space-between;
        input {
            width: 90%;
        }
        .color-picker {
            width: 3rem;
            border-radius: 50%;
            border: none;
        }
    }
    .form-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        input {
            width: 63%;
            height: 4rem;
            border-radius: 2rem;
            border: none;
            background-color: $blue-magenta;
            font-size: 1.6rem;
            font-weight: 500;
            color: $white;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: #bdbdbd;
            }
        }
    }
}


