//Colors

$blue-magenta: #635FC7;
$blue-magenta-lt: #A8A4FF;
$blue-dk: #000112;
$blue-lt: #20212C;

$grey-dk: #2b2c37;
$grey-lt: #3e3f4e;
$grey-blue-dk: #828Fa3;
$grey-blue-lt: #E4EbFA;
$light-blue-grey: #f4f7fd;
$white: #ffffff;
$redish: #ea5555;
$lt-pink: #ff9898;

