#board-modal {
  border-radius: 1rem;
  border: 0.1rem solid #ccc;
  input {
    border: 0.1rem solid #ccc;
  }
  input[type="text"] {
    width: 100%;
  }
  .board-columns {
    display: flex;
    gap: 1rem;
    a {
      text-decoration: none;
    }
  }
}

